NODE_ENV=development
PORT=3000

SESSION_COOKIE_NAME=matchu_admin_session
SESSION_EXPIRES_IN_DAYS=5

FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=

FIREBASE_WEB_API_KEY=
FIREBASE_AUTH_DOMAIN=
FIREBASE_APP_ID=
